* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", "sans-serif";
}

a {
  text-decoration: none;
  color:  #50C878;
  padding: 20px;
  margin-top: 20px;
}

a:hover {
  color: black !important;
  text-decoration: none;
}

